.Outerdiv{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}
.inner{
    margin-bottom: 15px !important;
}

